<!-- 수정일 : 2022-12-16일 -->
<!-- 마지막으로 수정한 사람 : MoonNight285 -->
<!-- 마지막으로 작업한 내용 : 페이지 제목 타이틀을 id에서 class로 변경, 예약페이지 버튼 클릭시 색상변경 이벤트 추가 -->
<!-- 마이페이지 -->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        $(document).ready(function () {
            // 페이지 좌측 메뉴 클릭 시 우측 페이지 변경
            $('#ul-i-ul li').click(function () {
                $('#ul-i-ul li').removeClass();
                $(this).addClass("li-c-on");
                $(this).addClass("text-light");
                
                // let num1 = $(this).attr('id').slice(-1);
                // for (let i = 1; i <= 5; i ++) {
                //     let num2 = $(`#div-i-${i}`).attr('id').slice(-1);
                //     if(num1 == num2) {
                //         $(`#div-i-${i}`).css('display', 'block');
                //     }
                //     else {
                //         $(`#div-i-${i}`).css('display', 'none');
                //     }
                // }
    
                // 메뉴 클릭시 페이지 이동
                // 최종 수정일 : 2022-12-16
                // 작성자 : MoonNigth285
                const pageName = $(this).text();
                const iFrame = $("#iframe-i-move-page");
                let targetSrc = "";
                
                switch (pageName) {
                    case "내 프로필":
                        break;
                    case "예매내역" :
                        targetSrc = "http://localhost:8080/mypage/book/normal"
                        break;
                    case "결제내역":
                        break;
                    case "댓글":
                        break;
                    case "문의내역":
                        break;
                }
                
                iFrame.attr("src", targetSrc);
            });

            $('#button-i-delP').on('click', function() {
                const frm = $("#form-i-profile")[0];
                frm.action = "/mypage/delete";
                frm.submit();
            });

            $('#button-i-update').on('click', function() {
                const frm = $("#form-i-profile")[0];
                frm.action = "/mypage/update";
                frm.submit();
            });

            $('#button-i-delC').on('click', function() {
                let check = confirm('해당 글을 삭제하시겠습니까?');
                if(check == true) {
                    alert('삭제하였습니다.');
                }
            });

            $('#button-i-delQ').on('click', function() {
                let check = confirm('해당 글을 삭제하시겠습니까?');
                if(check == true) {
                    alert('삭제하였습니다.');
                }
            });
        });
    </script>
    <th:block th:replace="fragments/config :: configFragment"></th:block>

    <style>
        @font-face {
            font-family: 'KOHIBaeumOTF';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHIBaeumOTF.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        header {
            width: 1920px;
            max-width: none !important;
        }

        main.container {
            width: 1500px;
            margin: 30px 0px;
            max-width: none !important;
        }

        li{
            list-style: none;
            cursor: pointer;
        }

        .li-c-on, #button-i-update {
            background-color: #FF4500;
        }
        
        #ul-i-ul {
            padding-left: 0px;
        }
    </style>

</head>
<body>
<!--헤더부분-->
<header th:include="fragments/header :: headerFragment"></header>

<!--메인부분-->
<main class="container">
    <div class="d-flex">
        <!--    메인 좌측 메뉴선택 페이지-->
        <div class="w-25 border-end border-end-2">
            <ul id="ul-i-ul" class="fs-4 text-center">
                <li class="li-c-on text-light " id="li-i-1"><p>내 프로필</p></li>
                <li id="li-i-2"><p>예매내역</p></li>
                <li id="li-i-3"><p>결제내역</p></li>
                <li id="li-i-4"><p>댓글</p></li>
                <li id="li-i-5"><p>문의내역</p></li>
            </ul>
        </div>

        <!--    메인 우측 선택된 메뉴 출력 페이지 (메뉴 선택 시 display 속성값 none/block 변환)-->
        <div class="w-75 ms-5 mt-4">
<!--            <div th:insert="mypage/mypage_profile :: profile" id="div-i-1"></div>-->
<!--            <div th:insert="mypage/mypage_book :: book(${bookList})" id="div-i-2" style="display: none"></div>-->
<!--            <div th:insert="mypage/mypage_payment :: payment" id="div-i-3" style="display: none"></div>-->
<!--            <div th:insert="mypage/mypage_comment :: comment" id="div-i-4" style="display: none"></div>-->
<!--            <div th:insert="mypage/mypage_question :: question" id="div-i-5" style="display: none"></div>-->
            <iframe id="iframe-i-move-page" src="" width="1500px" height="700px" scrolling="no"></iframe>
        </div>
    </div>
</main>

<!--푸터부분-->
<footer th:replace="fragments/footer :: footerFragment"></footer>
</body>
</html>