<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="/mypage/mypage_common_design.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#button-i-delP').on('click', function() {
                const frm = $("#form-i-profile")[0];
                frm.action = "/mypage/delete";
                frm.submit();
            });
    
            $('#button-i-update').on('click', function() {
                const frm = $("#form-i-profile")[0];
                frm.action = "/mypage/update";
                frm.submit();
            });
        });
    </script>
    <style>
        #div-i-profile {
            padding: 15px;
        }
    </style>
</head>
<body>
<div id="div-i-iframe-main" class="container">
    <div class="row">
        <div class="col-xl-12">
            <p id="p-i-iframe-title" class="mb-2 fs-5" th:text="${profileTitle}">목록이름</p>
        </div>
    </div>
    <div class="row">
        <form id="form-i-profile" action="" method="post" class="rounded-4 row">
            <div id="div-i-profile" class="col-xl-6 d-flex" style="border: #FF4500 3px solid">
                <img src="/img/profile.png" width="150px" height="150px" class="mx-2">
                <div>
                    <p th:text="'이름 : '+ ${myInfo.name}"></p>
                    <p th:text="'아이디 : '+ ${myInfo.id}"></p>
                    <p th:text="'이메일 : '+ ${myInfo.email}" ></p>
                </div>
                <input type="hidden" id="input-i-id" name="id" th:value="${myInfo.id}">
                <div class="text-end mx-2">
                    <button class="btn text-light mb-3" id="button-i-update">내 정보 수정</button>
                    <button type="submit" class="btn btn-outline-danger mb-3" id="button-i-delP">회원 탈퇴</button>
                </div>
            </div>
            <!--        전송 방식 변경을 위한 숨겨진 input 태그-->
            <input type="hidden" id="input-i-method" name="_method">
        </form>
    </div>
</div>
</body>
</html>