<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div th:fragment="book">
    <p id="p-i-title" class="mb-5 fs-5">예매내역</p>

    <table class="table table-striped text-center">
        <thead class="border-top border-bottom border-3">
        <th>예매번호</th>
        <th>예약날짜</th>
        <th>영화이름</th>
        <th>좌석번호</th>
        <th>상영관</th>
        <th>상영시간</th>
        <th>성인/청소년</th>
        <th>예매상태</th>
        </thead>
        <tbody>
        <td class="border border-2 border-light">테스트 번호</td>
        <td class="border border-2 border-light">테스트 날짜</td>
        <td class="border border-2 border-light">테스트 영화</td>
        <td class="border border-2 border-light">테스트 좌석</td>
        <td class="border border-2 border-light">테스트 상영관</td>
        <td class="border border-2 border-light">테스트 상영시간</td>
        <td class="border border-2 border-light">테스트 성인</td>
        <td class="border border-2 border-light">테스트 상태</td>
        </tbody>
    </table>
</div>
</body>
</html>