<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 탈퇴</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>

    <script>
        $(document).ready(function() {
            $('#button-i-back').on('click', function() {
                history.back();
            });

            // $('#button-i-delOk').on('click', function() {
            //     let id = ($('#input-i-id').val());
            //     console.log(id)
            //     let pwd = ($('#input-i-pwd').val());
            //     console.log(pwd)
            //     $.ajax({
            //         type: "post",
            //         url: "checkPwd",
            //         data: {"pwd": pwd},
            //         success: function(data) {
            //             alert(data)
            //             if (data == "OK") {
            //                 alert(id);
            //                 alert(pwd);
            //             }
            //             else {
            //                 alert('비밀번호가 틀렸습니다.')
            //             }
            //         },
            //         error: function () {
            //             alert("ajax 통신이 오류가 발생했습니다.");
            //         }
            //     });
            // });
        });
    </script>

    <style>
        header {
            width: 1920px;
            max-width: none !important;
        }

        .container {
            width: 1300px;
            max-width: none !important;
        }

        #form-i-frm {
            width: 400px;
            border: 3px #FF4500 solid;
        }
    </style>
    <th:block th:replace="fragments/config :: configFragment"></th:block>
</head>
<body>
<!-- 헤더 부분 -->
<header th:replace="fragments/header :: headerFragment"></header>

<!-- 메인 부분 -->
<main class="container mt-2">
    <form id="form-i-frm" method="post" class="col-sm-9 mx-auto rounded-4">
        <div class="row mt-3">
            <label for="input-i-id" class="col-3 text-end pt-2">비밀번호</label>
            <div class="col-8">
                <input type="password" class="form-control" id="input-i-pwd" name="pwd" placeholder="비밀번호를 입력하세요">
            </div>
        </div>
        <div class="text-end">
            <button type="submit" class="my-3 btn btn-danger" id="button-i-delOk">회원 탈퇴</button>
            <button type="reset" class="my-3 me-4 btn btn-secondary" id="button-i-back">뒤로</button>
        </div>
<!--        전송 방식 변경을 위한 숨겨진 input 태그-->
        <input type="hidden" id="input-i-method" name="_method">
<!--        id값 전달받기 위한 숨겨진 input 태그-->
        <input type="hidden" id="input-i-id" th:value="${myInfo.id}">
    </form>
</main>

<!-- 푸터 부분 -->
<footer th:replace="fragments/footer :: footerFragment"></footer>
</body>
</html>