<!-- 수정일 : 2022-12-14일 -->
<!-- 마지막으로 수정한 사람 : eblyncho -->
<!-- footer -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<footer class="mt-2 py-3" style="background-color: whitesmoke;" th:fragment="footerFragment">
    <div class="container4 text-center " style="font-size: 11px; color: #818380;">
        <img src="/img/logo_gray.png" alt="" style="width: 6%">
        <br><span>&copy; 2022 ESC SPRING CINEMA. ALL RIGHTS RESERVED.</span><br>
        <br>
    </div>
</footer>
</body>
</html>