<!-- 수정일 : 2022-12-22일 -->
<!-- 마지막으로 수정한 사람 : MoonNight285 -->
<!-- Header -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Title</title>
</head>
<body>
<header th:fragment="headerFragment">
    <div class="navbar">
        <div class="container-fluid mx-auto" style="width: 1650px">
            <a href="/main" class="a-c-main"><img src="/img/logo.png" alt="" class="img-c-logo ms-2"></a>
            <div class="justify-content-end">
                <ul>
                    <li class="mx-3">
                        <a th:if="${isLogin} == 'false'" href="/user/login" class="a-c-main"><img src="/img/login2.png" alt="로그인" style="display:block;" class="mx-auto my-1"><span>로그인</span></a>
                        <a id="a-i-header-logout" th:unless="${isLogin} == 'false'" href="#" class="a-c-main"><img src="/img/login2.png" alt="로그인" style="display:block;" class="mx-auto my-1"><span>로그아웃</span></a>
                        <form method="post" action="/user/logout" id="form-i-header-logout">
                            <button id="btn-i-header-logout" style="display: none" type="submit"></button>
                        </form>
                    </li>
                    <li class="mx-2">
                        <a href="/clause" class="a-c-main"><img src="/img/join2.png" alt="회원가입" style="display:block;" class="mx-auto my-1"><span>회원가입</span></a>
                    </li>
                    <li class="mx-2 me-5">
                        <a href="/mypage" class="a-c-main"><img src="/img/mypage2.png" alt="MY PAGE" style="display:block;" class="mx-auto my-1"><span>MY PAGE</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="navbar">
        <div class="container3 mx-auto d-flex">
            <div class="nav-item mx-auto">
                <ul class="nav2 p-0">
                    <li class="li-c-header mx-5">
                        <div class="dropdown">
                            <a href="" class="a-c-main" onclick="return false">영화</a>
                            <div class="dropdown-content">
                                <a href="/nowplaying" class="a-c-main">현재 상영작</a>
                                <a href="/upcoming" class="a-c-main">상영 예정작</a>
                            </div>
                        </div>
                    </li>
                    <li class="mx-5">
                        <a href="/book" class="a-c-main">예매</a>
                    </li>
                    <li class="mx-5">
                        <a href="" class="a-c-main">극장</a>
                    </li>
                </ul>
            </div>
            <ul class="input-c-search justify-content-end m-0 p-0">
                <input type="text" style="height: 24px">
            </ul>
        </div>

    </div>
    <hr class="hr-c-nav">
</header>
</body>
</html>