<!-- 수정일 : 2022-12-13일 -->
<!-- 마지막으로 수정한 사람 : MoonNight285 -->
<!-- 마지막으로 작업한 내용 : 헤더,푸터 추가 -->
<!-- 영화 예매 페이지 -->
<!-- 영화 메뉴를 표시하는 부분은 DB에서 가져와서 div-i-movie-content 안에있는 ul 태그 안에 동적으로 집어넣어야한다. -->
<!-- 극장 메뉴를 표시하는 부분은 DB에서 가져와서 div-i-cinema-content 안에있는 ul 태그 안에 동적으로 집어넣을것 -->
<!-- 날짜는 제이쿼리에서 처리했음 서버에서 건드릴필요가 없다. -->

<!-- 중요!!!!(실수 가능성 높음) -->
<!-- 시간 메뉴 div안에는 여러가지 정보가 들어가기 때문에 매우매우 중요하다. -->
<!-- 상영관정보 DB에서 가져와서 div-i-time-content 안에있는 h6 태그안에 상영관(좌석수) 들어가야한다. -->
<!-- 날짜정보는 DB에서 가져와서 div-i-time-content 안에있는 ul 태그안에 li를 추가하는데 이 안에 span 태그가 필요한데 이 태그의 클래스 이름은
    span-c-time 로 되어야하며 이 태그 안에 또 span 태그가 자식으로 존재하는데 이 부분에 상영관 정보가 들어가야한다.
    그리고 자식태그말고 본인 span 태그에서는 상영 시간 정보가 들어가야한다.
    예를 들면 <span class="span-c-time"> => 상영관과 시간 정보가 들어있는 태그
                <span>1관|</span> => 상영관 정보가 들어있는 태그(숨김처리 되어있다.)
                14 : 30 => 상영 시간
            </span>
    이렇게 동적으로 들어가야한다.
    -->
<!-- 좌석정보 DB에서 가져와서 div-i-time-content 안에있는 ul태그 li 태그안에
    <span class="span-c-seat">76석</span> 이런식으로 동적으로 추가
-->
<!-- 예시를 하단에 미리 작성해놨으니 보고 참고할것 -->
<!-- 시간 지났을때 클릭못하게 disabled 처리는 동적으로 처리할것 -->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            // 2022-12-20 양민호
            // 메인페이지 / 영화상세페이지에서 예매버튼 클릭했을 경우 해당 영화 자동 선택 이벤트
            const getDoc = $('#div-i-getDoc').text();
            const movieLen = $('#div-i-movie-content').find('li').length;
            if(getDoc != '') {
                for(let i = 0; i < movieLen; i++) {
                    const docId = $('.div-c-movieList').find('span:last-child').eq(i).text();

                    if(getDoc.includes(docId)) {
                        setTimeout(function () {
                            $('#div-i-movie-content').find('li').eq(i).trigger('click');
                        }, 1);
                    }
                }
            }

            const yearValue = $("#small-i-year-value");
            const monthValue = $("#h4-i-month-value");
            let selectedMovieName;
            let selectedCinemaName;
            let selectedDay;
            let selectedDate;
            let selectedTime;
            let selectedHall;

            // 오늘 날짜를 얻어와서 년과 월을 저장하고 날짜 목록에 표시
            const today = new Date();
            const year = today.getFullYear();
            const month = today.getMonth() + 1;
            const date = today.getDate();
            const hours = today.getHours();
            let minute = today.getMinutes();
            if(minute < 10) {
                minute = '0' + minute;
            }

            yearValue.text(year);
            monthValue.text(month);

            // 날짜 항목에 오늘 날짜 기준으로 시작해서 자동으로 이번달 마지막일짜까지 채우기
            // 일요일은 class(li-c-sunday) 추가
            const dateList = $("#div-i-date-content").children("ul");
            let dayNames = ["일", "월", "화", "수", "목", "금", "토"];
            while(today.getMonth() + 1 == month) {
                if (today.getDay() == 0) {
                    dateList.append(`<li class="li-c-sunday" style="color: red;">${dayNames[today.getDay()]} ${today.getDate()}</li>`);
                } else {
                    dateList.append(`<li>${dayNames[today.getDay()]} ${today.getDate()}</li>`);
                }
                today.setDate(today.getDate() + 1);
            }

            // 날짜 항목 리스트의 수가 15개 이하일 때 다음달 날짜 추가
            let dateLen = $('#div-i-date-content').find('li').length;
            while(dateLen < 15) {
                if (today.getDay() == 0) {
                    dateList.append(`<li class="li-c-sunday" style="color: red;">${dayNames[today.getDay()]} ${today.getDate()}</li>`);
                } else {
                    dateList.append(`<li>${dayNames[today.getDay()]} ${today.getDate()}</li>`);
                }
                today.setDate(today.getDate() + 1);
                dateLen = dateLen + 1;
            }

            // 영화 목록을 클릭하면 색상 강조하고 값 저장
            const movieNames = $("#div-i-movie-content").children("ul").children();
            movieNames.on("click", function () {
                movieNames.css("background-color", "");
                movieNames.css("color", "");

                $(this).css("background-color", "#333333");
                $(this).css("color", "white");


                selectedMovieName = $(this).find("span").first().text().trim();

                const movieView = $("#p-i-selected-movie");
                movieView.text(selectedMovieName); // 유저에게 보여주기위한 용도

                const movieSender = $("#input-i-send-movie");
                movieSender.val(selectedMovieName); // 서버 전달용

                const docId = $(this).find('span').last().text().trim();
                $('#input-i-send-docid').val(docId); // 서버 전달용 docid

                // 2022-12-18 양민호
                // 영화 선택 시 극장 정보 표시
                // ajax 통신을 통하여 선택 영화의 상영 극장 이름을 가져오고, 극장 수에따라 li 태그 변경
                //------ 부터 ------
                // 날짜목록 / 시간목록 안보이게 설정
                $("#div-i-date-content").children("ul").css('display', 'none');
                $('#div-i-time-content').children().css("display", 'none');

                // 영화 변경 시 기존 입력값 제거
                $('#p-i-selected-cinema').text("선택극장 : 없음");
                $("#p-i-selected-date").text('선택날짜 : 없음');
                $('#p-i-selected-hall').text('선택상영관 : 없음');
                $('#p-i-selected-time').text('선택시간 : 없음');

                // 영화 클릭 시 선택되어 있던 극장의 css 및 input value 모두 초기화
                $("#ul-i-selectCinema").children('li').css("background-color", "");
                $("#ul-i-selectCinema").children('li').css("color", "");
                $('#ul-i-selectCinema').css("display", 'block');
                $("#input-i-send-cinema").val('');
                $("#input-i-send-date").val('');
                $("#input-i-send-hall").val('');
                $("#input-i-send-time").val('');

                let movie = $('#input-i-send-movie').val();
                $.ajax({
                    url: "/book/cinema",
                    type: "post",
                    data: {movieTitle: movie},
                    success:function(data){
                        $('#ul-i-selectCinema').children().remove();
                        if(data.length > 0) {
                            for(let i = 0; i < data.length; i++) {
                                let cinemaName = data[i].cinemaName;
                                $('#ul-i-selectCinema').append('<li>' + cinemaName + '</li>');
                            }
                        }
                        else {
                            $('#ul-i-selectCinema').append('<li>상영하는 극장이 없습니다.</li>');
                        }
                    },
                    error: function () {
                        alert("ajax 통신이 오류가 발생했습니다.");
                    }
                });
                //------ 까지 ------
            });


            // 극장 목록을 클릭하면 색상 강조하고 값 저장
            // 2022-12-18 양민호
            // 극장 선택 시 날짜 정보 표시
            // 동적이벤트 append를 사용하였기에 상위 태그 기준으로 click이벤트 발생
            //------ 부터 ------
            const cinemaNames = $("#ul-i-selectCinema");
            cinemaNames.on("click", 'li' , function () {
                cinemaNames.children('li').css("background-color", "");
                cinemaNames.children('li').css("color", "");

                // 극장 변경 시 입력값 초기화
                $("#p-i-selected-date").text('선택날짜 : 없음');
                $('#p-i-selected-hall').text('선택상영관 : 없음');
                $('#p-i-selected-time').text('선택시간 : 없음');
                $("#input-i-send-date").val('');
                $("#input-i-send-hall").val('');
                $("#input-i-send-time").val('');
                $('#div-i-time-content div').css("display", 'none');

                // 날짜 목록 css
                // 날짜 목록 선택 후 극장 변경 시 선택되었던 날짜 color가 white로 고정된 상태인걸 재 설정
                $(dates).css("background-color", "");
                $(dates).css("color", "black");
                $('.li-c-sunday').css("color", "red");

                // 시간 목록 css
                $(".span-c-time").css("background-color", "");
                $(".span-c-time").css("color", "");

                selectedCinemaName = $(this).text();

                const cinemaView = $("#p-i-selected-cinema");
                const cinemaSender = $("#input-i-send-cinema");

                cinemaView.text("선택극장 : " + selectedCinemaName);
                $(this).css("background-color", "#333333");
                $(this).css("color", "white");
                $('#div-i-date-content').children('ul').css('display', 'block');
                cinemaSender.val(selectedCinemaName);


                let title = $('#input-i-send-movie').val();
                let cinema = $('#input-i-send-cinema').val();
                $('#div-i-time-content').children('div').children().remove();
                // ajax 통신을 통해 선택한 정보에 대한 정보 screen_hall에서 가져옴.
                $.ajax({
                    url: "/book/viewTime",
                    type: "post",
                    data: {movieTitle: title, cinemaName: cinema},
                    success:function(data){
                        if(data.length > 0) {
                            for(let i = 0; i < data.length; i++) {
                                const getScreenHallName = data[i].screenHallName;
                                const getAm1 = String(data[i].am1);
                                const getAm2 = data[i].am2;
                                const getPm1 = data[i].pm1;
                                const getPm2 = data[i].pm2;
                                // 시간정보를 문자열로 변환하여 다 더한 후 null 문자열 모두 제거
                                let totalTime = getAm1 + getAm2 + getPm1 + getPm2;
                                totalTime = totalTime.replace(/null/g, '');
                                let tag = '';
                                // 시간정보를 다 더하여 null 문자열을 제거한 길이에 따라 시간 정보 출력
                                if(totalTime.length == 8) {
                                    const time = totalTime.slice(0, -3);
                                    tag = "<ul><h6><b>" + getScreenHallName + "(총 120석)</b></h6>";
                                    tag += "<li><span class='span-c-time'><span class='span-c-hall'>" + getScreenHallName + "|</span>" +
                                        time + "</span><span class='span-c-remainSeats ms-1'></span></li></ul>";
                                    $('#div-i-time-content').children('div').append(tag);
                                }
                                else if(totalTime.length == 16) {
                                    const time1 = totalTime.slice(0, 5);
                                    const time2 = totalTime.slice(8, -3);
                                    tag = "<ul><h6><b>" + getScreenHallName + "(총 120석)</b></h6>";
                                    tag += "<li><span class='span-c-time'><span class='span-c-hall'>" + getScreenHallName + "|</span>" +
                                        time1 + "</span><span class='span-c-remainSeats ms-1'></span></li>";
                                    tag += "<li class='ms-3'><span class='span-c-time'><span class='span-c-hall'>" + getScreenHallName + "|</span>" +
                                        time2 + "</span><span class='span-c-remainSeats ms-1'></span></li>";
                                    $('#div-i-time-content').children('div').append(tag);
                                }
                                else if(totalTime.length == 24) {
                                    const time1 = totalTime.slice(0, 5);
                                    const time2 = totalTime.slice(8, 13);
                                    const time3 = totalTime.slice(16, -3);
                                    tag = "<ul><h6><b>" + getScreenHallName + "(총 120석)</b></h6>";
                                    tag += "<li><span class='span-c-time'><span class='span-c-hall'>" + getScreenHallName + "|</span>" +
                                        time1 + "</span><span class='span-c-remainSeats ms-1'></span></li>";
                                    tag += "<li class='ms-3'><span class='span-c-time'><span class='span-c-hall'>" + getScreenHallName + "|</span>" +
                                        time2 + "</span><span class='span-c-remainSeats ms-1'></span></li>";
                                    tag += "<li><span class='span-c-time'><span class='span-c-hall'>" + getScreenHallName + "|</span>" +
                                        time3 + "</span><span class='span-c-remainSeats ms-1'></span></li>";
                                    $('#div-i-time-content').children('div').append(tag);
                                }
                                else {
                                    const time1 = totalTime.slice(0, 5);
                                    const time2 = totalTime.slice(8, 13);
                                    const time3 = totalTime.slice(16, 21);
                                    const time4 = totalTime.slice(24, -3);
                                    tag = "<ul><h6><b>" + getScreenHallName + "(총 120석)</b></h6>";
                                    tag += "<li><span class='span-c-time'><span class='span-c-hall'>" + getScreenHallName + "|</span>" +
                                        time1 + "</span><span class='span-c-remainSeats ms-1'></span></li>";
                                    tag += "<li class='ms-3'><span class='span-c-time'><span class='span-c-hall'>" + getScreenHallName + "|</span>" +
                                        time2 + "</span><span class='span-c-remainSeats ms-1'></span></li>";
                                    tag += "<li><span class='span-c-time'><span class='span-c-hall'>" + getScreenHallName + "|</span>" +
                                        time3 + "</span><span class='span-c-remainSeats ms-1'></span></li>";
                                    tag += "<li class='ms-3'><span class='span-c-time'><span class='span-c-hall'>" + getScreenHallName + "|</span>" +
                                        time4 + "</span><span class='span-c-remainSeats ms-1'></span></li>";
                                    $('#div-i-time-content').children('div').append(tag);
                                }
                            }
                        }
                    },
                    error: function () {
                        alert("ajax 통신이 오류가 발생했습니다.");
                    }
                });
                //------ 까지 ------
            });

            // 날짜 목록을 클릭하면 색상 강조하고 값 저장
            // 날짜 목록을 선택하면 저장된 값을 통해 날짜 정보를 가공해서 표시
            // 일요일은 클래스(li-c-sunday)로 판단
            const dates = $("#div-i-date-content").children("ul").children();
            dates.on("click", function () {
                // 2022-12-19 양민호
                // 잔여 좌석 표시 ajax 통신
                //------ 부터 ------

                $('#div-i-time-content div').css("display", 'block');
                $('#p-i-selected-hall').text('선택상영관 : 없음');
                $('#p-i-selected-time').text('선택시간 : 없음');
                $("#input-i-send-hall").val('');
                $("#input-i-send-time").val('');
                $(".span-c-time").removeClass('clickedTime');
                $(".span-c-time").css('background-color', '');
                $(".span-c-time").css('color', '');


                for (let i = 0; i < dates.length; ++i) {
                    dates.eq(i).css("background-color", "");

                    if (dates.eq(i).hasClass("li-c-sunday")) {
                        dates.eq(i).css("color", "red");
                    } else {
                        dates.eq(i).css("color", "");
                    }
                }

                if ($(this).hasClass("li-c-sunday")) {
                    $(this).css("background-color", "#333333");
                    $(this).css("color", "red");
                } else {
                    $(this).css("background-color", "#333333");
                    $(this).css("color", "white");
                }

                selectedDay = $(this).text().split(" ")[0]; // 월 ~ 일
                selectedDate = $(this).text().split(" ")[1]; // 1 ~ 31
                const dateView = $("#p-i-selected-date");
                dateView.text(`선택날짜 : ${year}년 ${month}월 ${selectedDate}일 ${selectedDay}요일`);

                const dateSender = $("#input-i-send-date");
                dateSender.val(`${year}년 ${month}월 ${selectedDate}일 ${selectedDay}요일`);

                let ul_length = $('#div-i-time-content').children('div').children('ul').length;
                for (let i = 0; i < ul_length; i++) {
                    let li_length = $('#div-i-time-content').children('div').children('ul').eq(i).children('li').length;
                    for(let j = 0; j < li_length; j++) {
                        let firstSpan = $('#div-i-time-content').children('div').children('ul').eq(i).children('li').eq(j).children('span:first-child');
                        let time =  firstSpan.text().slice(3, 8);
                        let hall =  firstSpan.text().slice(0, 2);
                        let seat =  $('#div-i-time-content').children('div').children('ul').eq(i).children('li').eq(j).children('span:last-child');
                        let title = $('#input-i-send-movie').val();
                        let cinema = $('#input-i-send-cinema').val();
                        let date = year + '-' + month + "-" + selectedDate;
                        let viewTime = date + " " + time + ":00";

                        $.ajax({
                            url: "/book/remainSeats",
                            type: "post",
                            data: {title: title, cinema:cinema, hall:hall, viewTime:viewTime},
                            success:function(data){
                                let remainSeat = 120 - data;
                                seat.text(remainSeat + '석');
                            },
                            error: function () {
                                alert("ajax 통신이 오류가 발생했습니다.");
                            }
                        });
                    }
                }
            });

            // 시간 목록을 클릭하면 색상 강조하고 값 저장
            // 시간 목록을 클릭하면 상영관 정보도 같이 저장되어야함
            // 시간 목록을 선택하면 상영관과 시간 정보를 가공해서 표시
            // 2022-12-20 양민호
            // 동적이벤트 append를 사용하였기에 상위 태그 기준으로 click이벤트 발생
            // -------------부터 -------------
            $(document).on("click", ".span-c-time", function() {

                let seat =  $(this).next().text();
                let time =  $(this).text().slice(3);
                time = time.slice(0, 2) + time.slice(3);
                const dtY = $("#input-i-send-date").val().slice(0, 4);
                const dtM = $("#input-i-send-date").val().slice(6, 8);
                const dtD = $("#input-i-send-date").val().slice(10, 12);
                const todayYmd = year  + String(month) +  date;
                const selectYmd = dtY + String(dtM) + dtD
                let now = String(hours) + String(minute);
                now = parseInt(now);
                time = parseInt(time);


                if(seat != '0석'|| (selectYmd == todayYmd && time > now) || (selectYmd > todayYmd)) {
                    const times = $(".span-c-time");
                    times.removeClass();
                    times.addClass('span-c-time');
                    times.css("background-color", "");
                    times.css("color", "");

                    $(this).addClass('clickedTime');

                    $(this).css("background-color", "#333333");
                    $(this).css("color", "white");

                    selectedHall = $(this).text().split("|")[0]; // X관
                    selectedTime = $(this).text().split("|")[1]; // 9 : 30(예시)

                    const hallView = $("#p-i-selected-hall");
                    hallView.text("선택상영관 : " + selectedHall);

                    const timeView = $("#p-i-selected-time");
                    timeView.text("선택시간 : " + selectedTime);

                    const hallSender = $("#input-i-send-hall");
                    hallSender.val(selectedHall);

                    const timeSender = $("#input-i-send-time");
                    timeSender.val(selectedTime);
                }

                // 잔여좌석이 없을 경우 / 상영 시간이 지난 경우 클릭 방지
                if(seat == '0석' || (selectYmd == todayYmd && time < now)) {
                    $(this).off('click');
                    $(this).css('background-color', '#f2f0e5');
                    $(this).css('color', 'black');

                    const hallView = $("#p-i-selected-hall");
                    hallView.text("선택상영관 : 없음");
                    const timeView = $("#p-i-selected-time");
                    timeView.text("선택시간 : 없음");
                    const hallSender = $("#input-i-send-hall");
                    hallSender.val('');
                    const timeSender = $("#input-i-send-time");
                    timeSender.val('');
                }
            });

            // 잔여 좌석이 없거나 상영시간이 지난 경우 체크 방지
            $(document).on('mouseenter mouseleave', ".span-c-time", function() {
                $(this).css('cursor', 'pointer');

                const seat =  $(this).next().text();
                let time =  $(this).text().slice(3);
                time = time.slice(0, 2) + time.slice(3);
                const dtY = $("#input-i-send-date").val().slice(0, 4);
                const dtM = $("#input-i-send-date").val().slice(6, 8);
                const dtD = $("#input-i-send-date").val().slice(10, 12);
                const todayYmd = year  + String(month) +  date;
                const selectYmd = dtY + String(dtM) + dtD
                let now = String(hours) + String(minute);
                now = parseInt(now)
                time = parseInt(time)


                if(seat == '0석') {
                    $(this).css('cursor', 'default');
                    $(this).off('click');
                    $(this).css('background-color', '#f2f0e5');
                    $(this).css('color', 'black');
                }
                else if(todayYmd == selectYmd && now > time) {
                    $(this).css('cursor', 'default');
                    $(this).off('click');
                    $(this).css('background-color', '#f2f0e5');
                    $(this).css('color', 'black');
                }
            });
            // ------------- 까지 -------------

            // 좌석선택 버튼을 클릭시 선택안한 데이터가 있는지 체크하고 선택한 데이터를 서버로 넘김
            const btnNext = $("#btn-i-next");
            btnNext.on("click", function () {
                const movieSender = $("#input-i-send-movie");
                const cinemaSender = $("#input-i-send-cinema");
                const dateSender = $("#input-i-send-date");
                const hallSender = $("#input-i-send-hall");
                const timeSender = $("#input-i-send-time");

                if (movieSender.val() == "" || cinemaSender.val() == "" || dateSender.val() == "" ||
                    hallSender.val() == "" || timeSender.val() == "") {
                    const btnError = $("#btn-i-hidden-error");
                    btnError.click();
                    return;
                }
                // 2022-12-18 양민호
                // ------------------부터----------------
                // 임시적으로 입력 값 숨겨진 태그에 붙여넣고 서버로 데이터 전송
                // 서버 전달용 input 태그 value값 설정
                else {
                    $(`input[name='inputAdt']:checked`)
                    let date = $("#p-i-selected-date").text().slice(7)
                    let time = $(".clickedTime").text().split("|")[1];
                    let selectTitle = $('#p-i-selected-movie').text();
                    let selectCinema = $('#p-i-selected-cinema').text().slice(7);
                    let selectHall = $('#p-i-selected-hall').text().slice(8);

                    movieSender.val(selectTitle);
                    cinemaSender.val(selectCinema);
                    dateSender.val(date);
                    hallSender.val(selectHall);
                    timeSender.val(time);
                    const frm = $('#form-i-book')[0];
                    frm.submit();
                }
                // ------------------까지----------------
                // 다 선택했으면 서버로 값 넘기기
            });
        });
    </script>
    <style>
        @font-face {
            font-family: 'KOHINanumOTFL';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHINanumOTFL.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        /* 본문 컨테이너 영역 */
        #div-i-main {
            width:1000px;
            max-width:none!important;
            margin: 100px auto;
        }

        /* ul 태그 전체에 마진 적용 */
        #div-i-body ul {
            margin: 10px 0px;
        }

        /* 제목 부분 디자인 */
        .div-c-movie-header {
            text-align: center;
            width: 300px;
            background-color: #333333;
            color: white;
            border-right: 1px solid white;
            font-family: "KOHINanumOTFL";
        }

        /* 제목부분 마진 디자인 */
        .div-c-movie-header h5 {
            margin-bottom: 10px;
            margin-top: 15px;
        }

        /* 내용부분 박스 디자인 */
        #div-i-movie-content, #div-i-cinema-content, #div-i-date-content, #div-i-time-content {
            border-right: 2px solid gray;
            border-bottom: 2px solid gray;
            width: 300px;
            height: 600px;
            background-color: #f2f0e5;
            overflow: auto;
        }

        #div-i-time-content {
            margin-right: 1px;
        }

        /* 내용부분 박스에서 컨텐츠 요소에 마우스 올렸을때 포인터 변경 */
        #div-i-movie-content ul li:hover, #div-i-cinema-content ul li:hover, #div-i-date-content ul li:hover,
        .span-c-time:hover {
            cursor: pointer;
        }

        /* 내용부분 박스에서 컨텐츠 요소에 마우스 올렸을때 색상변경 */
        #div-i-movie-content ul li:hover, #div-i-cinema-content ul li:hover, #div-i-date-content ul li:hover {
            background-color: #333333;
            color: white;
        }

        /* 내용부분 박스에서 컨텐츠 요소에 마우스 올렸을때 색상변경(시간대에만 적용) */
        .span-c-time:hover {
            background-color: #333333;
            color: white;
        }

        /* 영화랑 극장 마진 바텀 */
        #div-i-movie-content ul li, #div-i-cinema-content ul li {
            margin-bottom: 10px;
        }

        /* 날짜 마진 */
        #div-i-date-content ul li {
            margin-bottom: 10px;
            width: 40px;
        }

        /* 시간 마진 */
        #div-i-time-content ul li {
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 10px;
        }

        /* 시간 패딩 */
        #div-i-time-content .span-c-time {
            border: 1px solid #d6d3ce;
            padding: 2px;
        }

        /* 영화, 극장 목록 불릿제거하고 패딩 제거 */
        #div-i-movie-content ul, #div-i-cinema-content ul {
            list-style: none;
            padding-left: 0px;
        }

        /* 날짜 선택부분 패딩 적용 */
        #div-i-date-content ul {
            padding-left: 22px;
        }

        /* 극장 목록 가운데 정렬 */
        #div-i-cinema-content ul li {
            text-align: center;
        }

        /* 선택한 영화의 이름을 표시하는 공간의 디자인 */
        #div-i-selected-movie {
            background-color: #f2f0e5;
            width: 293px;
            height: 100px;
            border-left: 2px solid gray;
            border-bottom: 2px solid gray;
        }

        /* 선택한 영화의 정보를 표시하는 공간의 디자인 */
        #div-i-selected-movie-info {
            background-color: #f2f0e5;
            width: 400px;
            height: 100px;
            border-bottom: 2px solid gray;
        }

        /* 다음 버튼 공간의 디자인 */
        #div-i-next {
            background-color: #f2f0e5;
            width: 293px;
            height: 100px;
            border-bottom: 2px solid gray;
            border-right: 2px solid gray;
        }

        /* 좌석선택 버튼 */
        #btn-i-next {
            width: 180px;
            font-size: 24px;
            font-family: KOHINanumOTFL;
        }

        /* 좌석선택 버튼의 내용값 */
        #btn-i-next p {
            margin-top: 20px;
        }

        /* 숨겨진 좌석선택 버튼(서버로 넘기기용), 에러버튼 */
        #btn-i-hidden-next, #btn-i-hidden-error {
            display: none;
        }

        /* 숨겨진 상영관정보(시간 선택에 포함) */
        .span-c-time span {
            display: none;
        }

    /*    2022-12-19 양민호*/
    /*    ---- 부터 ----*/
        .div-c-movieList span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space : nowrap;
        }
    /*    ---- 까지 ----*/
    </style>

    <th:block th:replace="fragments/config :: configFragment"></th:block>
</head>
<body>
    <header th:replace="fragments/header :: headerFragment"></header>
    <div id="div-i-getDoc" style="display: none" th:text="${docId}"></div>
    <div id="div-i-main" class="container">
        <div class="row">
            <div class="col-xl-12 d-flex justify-content-between">
                <div class="div-c-movie-header">
                    <h5>영화</h5>
                </div>
                <div class="div-c-movie-header">
                    <h5>극장</h5>
                </div>
                <div class="div-c-movie-header" style="width: 100px">
                    <h5>날짜</h5>
                </div>
                <div class="div-c-movie-header">
                    <h5>시간</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="div-i-body" class="col-xl-12 d-flex justify-content-between">
                <div id="div-i-movie-content" style="border-left: 2px solid gray">
<!--                    2022-12-16 양민호 -->
<!--                    -------------- 부터 ------------ -->
                    <ul>
                        <li th:each="item : ${allScreenTitle}">
                            <div class="d-flex justify-content-start div-c-movieList" th:if="${item.rating} == '전체관람가'">
<!--                                rating 조건에 따른 연령 표시 이미지 추가 -->
                                <img src="/img/letter-a.png">
                                <span th:text="${item.title}" th:title="${item.title}" class="ms-1"></span>
                                <span style="display: none" th:text="${item.docid}"></span>
                            </div>
                            <div class="d-flex justify-content-start div-c-movieList" th:if="${item.rating} == '12세관람가'">
                                <!--                                rating 조건에 따른 연령 표시 이미지 추가 -->
                                <img src="/img/twelve.png">
                                <span th:text="${item.title}" th:title="${item.title}" class="ms-1"></span>
                                <span style="display: none" th:text="${item.docid}"></span>
                            </div>
                            <div class="d-flex justify-content-start div-c-movieList" th:if="${item.rating} == '15세관람가'">
                                <!--                                rating 조건에 따른 연령 표시 이미지 추가 -->
                                <img src="/img/fifteen.png">
                                <span th:text="${item.title}" th:title="${item.title}" class="ms-1"></span>
                                <span style="display: none" th:text="${item.docid}"></span>
                            </div>
                            <div class="d-flex justify-content-start div-c-movieList" th:if="${item.rating} == '18세관람가(청소년관람불가)'">
                                <!--                                rating 조건에 따른 연령 표시 이미지 추가 -->
                                <img src="/img/eighteen.png">
                                <span th:text="${item.title}" th:title="${item.title}" class="ms-1"></span>
                                <span style="display: none" th:text="${item.docid}"></span>
                            </div>
                            <div class="d-flex justify-content-start div-c-movieList" th:if="${item.rating} == ''">
                                <!--                                rating 조건에 따른 연령 표시 이미지 추가 -->
                                <span th:text="${item.title}" th:title="${item.title}" style="margin-left: 28px"></span>
                                <span style="display: none" th:text="${item.docid}"></span>
                            </div>
                        </li>
                    </ul>
<!--                    -------------- 까지 ------------ -->
<!--                    2022-12-18 양민호 -->
<!--                    -------------- 부터 ------------ -->
                </div>
                <div id="div-i-cinema-content">
                    <ul id="ul-i-selectCinema" style="display: none">
                    </ul>
                </div>
                <div id="div-i-date-content" style="width: 100px;">
                    <small id="small-i-year-value" class="d-flex justify-content-center mt-2">2022</small>
                    <h4 id="h4-i-month-value" class="text-center">12</h4>
                    <ul style="list-style: none; display: none"></ul>
                </div>
                <div id="div-i-time-content">
                    <div>
                    </div>
                </div>
<!--                    -------------- 까지 ------------ -->
            </div>
            <div id="div-i-footer" class="col-xl-12 d-flex justify-content-start">
                <div id="div-i-selected-movie">
                    <p class="mb-0 mt-3 text-center">선택영화</p>
                    <p id="p-i-selected-movie" class="text-center" style="word-wrap: break-word;">없음</p>
                </div>
                <div id="div-i-selected-movie-info">
                    <p id="p-i-selected-cinema" class="mx-3 mb-0" style="text-align: left">선택극장 : 없음</p>
                    <p id="p-i-selected-date" class="mx-3 mb-0" style="text-align: left">선택날짜 : 없음</p>
                    <p id="p-i-selected-hall" class="mx-3 mb-0" style="text-align: left">선택상영관 : 없음</p>
                    <p id="p-i-selected-time" class="mx-3 mb-0" style="text-align: left">선택시간 : 없음</p>
                </div>
                <div id="div-i-next" class="d-flex justify-content-center">
                    <button id="btn-i-next" type="button" class="btn btn-dark my-2"><p>좌석선택</p></button>
                    <button id="btn-i-hidden-error" type="button" data-bs-toggle="modal" data-bs-target="#div-i-error"></button>
                </div>
            </div>
            <!-- 이 폼은 눈에 보이지않습니다. 오로지 서버에 전달하기위한 용도입니다. -->
<!--            2022-12-15 양민호 -->
<!--            -------------------부터-------------------- -->
<!--            임시 name값 추가-->
            <form action="/seat" method="post" id="form-i-book">
                <input id="input-i-send-movie" type="hidden" name="movieTitle">
                <input id="input-i-send-cinema" type="hidden" name="cinemaName">
                <input id="input-i-send-date" type="hidden" name="inputDate">
                <input id="input-i-send-hall" type="hidden" name="screenHallName">
                <input id="input-i-send-time" type="hidden" name="inputTime">
                <input id="input-i-send-docid" type="hidden" name="docid">
                <button id="btn-i-hidden-next" type="submit"></button>
            </form>
<!--            -------------------까지-------------------- -->
        </div>
    </div>
    <footer th:replace="fragments/footer.html :: footerFragment"></footer>
    <div th:replace="fragments/modal_error :: modalError('선택하지않은 값이 존재합니다!')"></div>
</body>
</html>