<!-- 수정일 : 2022-12-10일 -->
<!-- 마지막으로 수정한 사람 : MoonNight285 -->
<!-- 회원가입 유저정보입력 페이지 -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>스프링 시네마 - 회원가입</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            const birth = $("#select-i-brith");
            const year = new Date().getFullYear();

            for (let i = year; i >= 1900; --i) {
                if (i == 1970) {
                    birth.append(`<option selected>${i}</option>`);
                } else {
                    birth.append(`<option>${i}</option>`);
                }
            }
        });
    </script>
    <style>
        .container{width:1200px; max-width:none!important;}

        #img-i-logo {
            width: 200px;
            height: 150px;
        }

        #div-i-join-form {
            width: 360px;
        }

        #btn-i-join {
            width: 180px;
            height: 45px;
        }

        #btn-i-hidden-join {
            display: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center mb-3">
                <img id="img-i-logo" src="img/logo.png">
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 d-flex justify-content-center">
                <form id="form-i-join" action="" method="">
                    <div id="div-i-join-form">
                        <div class="mb-3">
                            <label class="mb-1">아이디</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="mb-1">비밀번호</label>
                            <input type="password" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="mb-1">비밀번호 확인</label>
                            <input type="password" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="mb-1">이름</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="mb-1">나이</label>
                            <select id="select-i-brith" class="form-select">
                                <option>생년을 선택하세요.</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="mb-1">성별</label>
                            <select class="form-select">
                                <option>성별을 선택하세요.</option>
                                <option>남자</option>
                                <option>여자</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="mb-1">이메일</label>
                            <input type="email" class="form-control">
                        </div>
                        <div class="mb-4">
                            <label class="mb-1">전화번호</label>
                            <input type="tel" class="form-control">
                        </div>
                        <div class="mb-3 d-flex justify-content-center">
                            <button id="btn-i-join" type="button" class="btn btn-success">가입하기</button>
                            <button id="btn-i-hidden-join"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>