<!-- 수정일 : 2022-12-22일 -->
<!-- 마지막으로 수정한 사람 : MoonNight285 -->
<!-- 마지막으로 작업한 내용 : UI 디자인 변경 -->
<!-- 유저 로그인 페이지 -->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SPRING CINEMA - 로그인</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/event.js"></script>
    <script>
        const EXPIRE_DAYS = 3; // 쿠키 만료날짜, 서버와 동일하게 사용해야함
        
        // 회원가입에 사용되는 폼 양식에서 빈값이 있는지를 확인
        // 있으면 true 없으면 false
        function isAllEmpty(id, pwd) {
            const userCheckResult = $("#small-i-user-check-result");

            if (id == "" || pwd == "") {
                runUserCheckFailAnimate(userCheckResult, "아이디 또는 비밀번호가 비어있습니다.");
                return true;
            }

            return false;
        }
        
        // 쿠키 생성, 삭제, 조회
        // 마지막 작성일 : 2022-12-22
        // 마지막 작성자 : MoonNight285
        function setCookie(cookieName, value, expireDay) {
            let exdate = new Date();
            exdate.setDate(exdate.getDate() + expireDay);
            let cookieValue = encodeURIComponent(value) + ((expireDay == null) ? "" : "; expires=" + exdate.toString());
            document.cookie = cookieName + "=" + cookieValue;
        }
        
        function deleteCookie(cookieName) {
            let expireDate = new Date();
            expireDate.setDate(expireDate.getDate() - 1);
            document.cookie = cookieName + "= " + "; expires= " + expireDate.toString();
        }
        
        function getCookie(cookieName) {
            cookieName = cookieName + "=";
            let cookieData = document.cookie;
            let start = cookieData.indexOf(cookieName);
            let cookieValue = "";
            if (start != -1) {
                start += cookieName.length;
                let end = cookieData.indexOf(";", start);
                if (end == -1) {
                    end = cookieData.length;
                }
                cookieValue = cookieData.substring(start, end);
            }
            return decodeURIComponent(cookieValue);
        }
        
        // 서버에게 고유값을 생성요청
        // 성공시 true, 실패시 false
        function generateUniqueId(inputId) {
            $.ajax({
                url : "/user/uid",
                type : "post",
                data : {id : inputId.val()},
                success : function (result) {
                    setCookie("SpringUID", result, EXPIRE_DAYS);
                    return true;
                },
                error : function () {
                    return false;
                }
            });
        }
        
        // 서버에게 고유값을 삭제하도록 요청
        // 성공시 true, 실패시 false
        function removeUniqueId(userKey) {
            $.ajax({
                url : "/user/uid",
                type : "delete",
                data : {uniqueId : userKey},
                success : function (result) {
                    return true;
                },
                error : function () {
                    return false;
                }
            });
        }
        
        $(document).ready(function () {
            const userCheckResult = $("#small-i-user-check-result");
            const btnLogin = $("#btn-i-login");
            const btnHiddenLogin = $("#btn-i-hidden-login");
            const inputId = $("#input-i-id");
            const inputPwd = $("#input-i-pwd");
            const inputIdSave = $("#input-i-id-save");
            
            let userId;
            let userKey = getCookie("SpringUID");
            if (userKey != "") { // 저장된 고유값이 있는경우
                $.ajax({
                    url : "/user/uid",
                    type : "get",
                    data : {uniqueId : userKey},
                    success : function (result) {
                        if (result != "null") { // 서버에 고유값을 전송했을때 유효한 값이 있다면 실행
                            userId = result;
                            inputId.val(result);
                            inputIdSave.attr("checked", true);
                        } else { // 서버에 저장된 고유값을 전송했을때 유효하지 않으면 실행
                            userKey = "expired";
                        }
                    },
                    error : function () {
                        alert("서버와 통신에 실패했습니다.");
                    }
                });
            }
            
            btnLogin.on("click", function () {
                if (isAllEmpty(inputId.val(), inputPwd.val())) { // 빈값 있는지 검사
                    return;
                }
    
                $.ajax({
                    url : "/user/testLogin",
                    type : "post",
                    data : {targetId : inputId.val(), pwd : inputPwd.val()},
                    success : function (data) {
                        if (data != "true") { // DB에 유저가 존재하지않으면
                            runUserCheckFailAnimate(userCheckResult, "아이디 또는 비밀번호가 틀렸습니다.");
                            return;
                        }
    
                        // 아이디 저장을 사용한다면
                        if (inputIdSave.is(":checked") && userId != inputId.val()) { // 아이디가 변경된경우 기존의 고유값을 서버에서 삭제하고 신규발급
                            let removeResult = removeUniqueId(userKey);
                            if (removeResult == false) {
                                alert("서버와 통신에 실패했습니다.");
                                return;
                            }
    
                            let generateResult = generateUniqueId(inputId);
                            if (generateResult == false) {
                                alert("서버와 통신에 실패했습니다.");
                                return;
                            }
    
                            btnHiddenLogin.click();
                            return;
                        } else if (inputIdSave.is(":checked") && (userKey == "expired" || userKey == "")) { // 고유값이 만료되었거나 존재하지않는경우 신규발급
                            let generateResult = generateUniqueId(inputId);
                            if (generateResult == false) {
                                alert("서버와 통신에 실패했습니다.");
                                return;
                            }
    
                            btnHiddenLogin.click();
                            return;
                        } else if (inputIdSave.is(":checked")) { // 아이디 저장을 사용하면서 고유값이 유효한경우 그냥 로그인진행
                            btnHiddenLogin.click();
                            return;
                        }
    
                        // 아이디 저장을 사용안하는 경우
                        if (userKey != "expired" && userKey != "") { // 고유값이 존재하는경우 서버에 삭제요청
                            let removeResult = removeUniqueId(userKey);
                            if (removeResult == false) {
                                alert("서버와 통신에 실패했습니다.");
                                return;
                            }
                        }
                        
                        deleteCookie("SpringUID");
                        btnHiddenLogin.click();
                    },
                    error : function () {
                        alert("서버와 통신이 실패했습니다.");
                    }
                });
            });
        });
    </script>
    <style>
        #div-i-main {
            width:1200px;
            max-width:none!important;
            margin-top: 190px;
            margin-bottom: 170px;
        }

        #div-i-login-form {
            width: 460px;
            border: 2px solid #d3d3d3;
            padding : 50px;
            border-radius: 25px;
            background-color: #fcfcfc;
        }

        #btn-i-login {
            width: 180px;
            height: 45px;
        }

        #btn-i-hidden-login {
            display: none;
        }

        #a-i-forgot-password {
            text-decoration: none;
        }

        #label-i-id-save {
            cursor: pointer;
            margin-bottom: 7px;
        }

        #label-i-id-save #i-i-check-icon  {
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-right: 5px;
            background: url("/img/notCheck.png") left center no-repeat;
            vertical-align: middle;
            transition-duration: .3s;
        }

        #label-i-id-save input[type=checkbox] { display: none; }

        #label-i-id-save input[type=checkbox]:checked + #i-i-check-icon { background-image: url("/img/check.png") }
    </style>

    <th:block th:replace="fragments/config :: configFragment"></th:block>
</head>
<body>
    <header th:replace="fragments/header :: headerFragment"></header>
    <div id="div-i-main" class="container">
        <div class="row">
            <div class="col-xl-12 d-flex justify-content-center">
                <form id="form-i-login" action="/user/login" method="post">
                    <div id="div-i-login-form">
                        <div class="mb-4">
                            <label class="mb-1">아이디</label>
                            <input id="input-i-id" type="text" class="form-control" maxlength="15" name="targetId">
                        </div>
                        <div class="mb-4">
                            <div class="d-flex justify-content-between">
                                <label class="mb-1">비밀번호</label>
                                <small id="small-i-user-check-result"></small>
                            </div>
                            <input id="input-i-pwd" type="password" class="form-control" maxlength="15" name="pwd">
                        </div>
                        <div class="mb-4">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <label id="label-i-id-save"><input id="input-i-id-save" type="checkbox"><i id="i-i-check-icon"></i>아이디 저장</label>
                                </div>
                                <!-- a 태그 스타일 겹치는것으로 보임.. -->
                                <a id="a-i-forgot-password" style="color: #3333b2" href="/findPwd">비밀번호 찾기</a>
                            </div>
                        </div>
                        <div class="mb-3 d-flex justify-content-center">
                            <button id="btn-i-login" type="button" class="btn btn-success">로그인</button>
                            <button id="btn-i-hidden-login" type="submit"></button>
                        </div>
                        <div class="d-flex justify-content-center">
                            <small><a href="/clause" style="text-decoration: none">아이디가 없으신가요? 회원가입을 해보세요!</a></small>
                        </div>
                    </div>
                    <input type="hidden" th:value="${referer}" name="referer">
                </form>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/footer.html :: footerFragment"></footer>
</body>
</html>