<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>좌석 선택</title>

    <th:block th:replace="/fragments/config :: configFragment"></th:block>
    <script src="/js/header.js"></script>

    <script th:inline="javascript">
        let won = $('#input-i-price').text();
        won = won.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        let totalPrice;

        $(document).ready(function() {
            // 인원 수 선택 이벤트
            // 인원 수 선택 시 금액 출력
            $(`input[name='inputAdt']`).on('click', function () {
                let count = $(`input[type='checkbox']:checked`).length;
                let adtVal = parseInt($(`input[name='inputAdt']:checked`).val());
                let teenVal = parseInt($(`input[name='inputTeen']:checked`).val());
                let adtPrice = adtVal * 10000;
                let teenPrice = teenVal * 5000;
                totalPrice = adtPrice + teenPrice;

                if(count > (adtVal + teenVal)) {
                    // 좌석 선택 후 인원 변경 시 좌석 제거
                    alert('좌석수가 인원수보다 많습니다.');
                    $(`input[type='checkbox']`).prop('checked', false);
                    $('#input-i-seatCode').val(``);
                    $(`#input-i-adtPrice`).val(adtPrice + '원');
                    $(`#input-i-teenPrice`).val(teenPrice + '원');
                    $(`#input-i-totalPrice`).val(totalPrice + '원');
                }
                else {
                    // 선택된 인원에 따른 금액 출력
                    if((adtPrice + teenPrice) > 0) {
                        $(`#input-i-adtPrice`).val(adtPrice + '원');
                        $(`#input-i-teenPrice`).val(teenPrice + '원');
                        $(`#input-i-totalPrice`).val(totalPrice + '원');
                    }
                    else {
                        $(`#input-i-totalPrice`).val("");
                        $(`#input-i-adtPrice`).val("");
                    }
                }
            });

            // 인원 수 선택 시 금액 출력
            $(`input[name='inputTeen']`).on('click', function () {
                let count = $(`input[type='checkbox']:checked`).length;
                let adtVal = parseInt($(`input[name='inputAdt']:checked`).val());
                let teenVal = parseInt($(`input[name='inputTeen']:checked`).val());
                let adtPrice = adtVal * 10000;
                let teenPrice = teenVal * 5000;
                let totalPrice = adtPrice + teenPrice;

                if(count > (adtVal + teenVal)) {
                    // 좌석 선택 후 인원 변경 시 좌석 제거
                    alert('좌석수가 인원수보다 많습니다.');
                    $(`input[type='checkbox']`).prop('checked', false);
                    $('#input-i-seatCode').val(``);
                    $(`#input-i-adtPrice`).val(adtPrice + '원');
                    $(`#input-i-teenPrice`).val(teenPrice + '원');
                    $(`#input-i-totalPrice`).val(totalPrice + '원');
                }
                else {
                    // 선택된 인원에 따른 금액 출력
                    if((adtPrice + teenPrice) > 0) {
                        $(`#input-i-adtPrice`).val(adtPrice + '원');
                        $(`#input-i-teenPrice`).val(teenPrice + '원');
                        $(`#input-i-totalPrice`).val(totalPrice + '원');
                    }
                    else {
                        $(`#input-i-teenPrice`).val("");
                        $(`#input-i-totalPrice`).val("");
                    }
                }
            });


            // 좌석 선택 이벤트
            // 선택한 인원수 보다 많은 좌석 선택 시 오류 메세지 출력
            $(`input[type='checkbox']`).on('click', function () {
                let count = $(`input[type='checkbox']:checked`).length;
                let adtVal = parseInt($(`input[name='inputAdt']:checked`).val());
                let teenVal = parseInt($(`input[name='inputTeen']:checked`).val());
                let popNum = adtVal + teenVal;

                if (count > popNum) {
                    // 좌석 수가 더 많을 경우 체크박스 클릭 해제
                    $(this).prop('checked', false);
                    alert('선택 인원보다 많은 좌석은 선택할 수 없습니다.');
                }
                else {
                    if(count == 0) {
                        $('#input-i-seatCode').val('');
                    }
                    else {

                        // 좌석 번호 출력
                        $('#input-i-seatCode').text('');
                        $('input[type=checkbox]').each(function (index) {
                            if($(this).is(":checked")==true){
                                $('#input-i-seatCode').append($(this).val() + '|');
                            }
                        });
                        let txt = ($('#input-i-seatCode').text()).slice(0, -1);
                        $('#input-i-seatCode').val(txt);
                    }
                }
            });

            // 예매 정보 넘기기
            // 2022-12-21 조은비
            /*<![CDATA[*/
            $("#btn-i-payment").on("click", function () {
                let selectMoviePoster = /*[[${selectMoviePoster.posters}]]*/;
                let selectedTitle = /*[[${screenData.movieTitle}]]*/;
                let selectedCinema = /*[[${screenData.cinemaName}]]*/;
                let selectedScreenHall = /*[[${screenData.screenHallName}]]*/;
                let selectedDate = /*[[${screenDate} + ' ' + ${viewTime}]]*/;
                let adtVal = parseInt($(`input[name='inputAdt']:checked`).val());
                let teenVal = parseInt($(`input[name='inputTeen']:checked`).val());
                let people = '일반 : ' + adtVal + ' , 청소년 : ' + teenVal;
                let seatCode = ($('#input-i-seatCode').text()).slice(0, -1);

                let adtPrice = adtVal * 10000;
                let teenPrice = teenVal * 5000;
                let totalPrice = adtPrice + teenPrice;

                if ($('#input-i-seatCode').val() == "") {
                    const btnError = $("#btn-i-hidden-error");
                    btnError.click();
                    return;
                } else {
                    sessionStorage.setItem("poster", selectMoviePoster);
                    sessionStorage.setItem("title", selectedTitle);
                    sessionStorage.setItem("cinema", selectedCinema);
                    sessionStorage.setItem("screenHall", selectedScreenHall);
                    sessionStorage.setItem("selectedDate", selectedDate);
                    sessionStorage.setItem("people", people);
                    sessionStorage.setItem("seatCode", seatCode);
                    sessionStorage.setItem("totalPrice", totalPrice);

                    sessionStorage.setItem("adtVal", adtVal);
                    sessionStorage.setItem("teenVal", teenVal);

                    location.href="/payment";
                }
            });
        /*]]>*/
        });

    </script>

    <style>
        header {
            width: 1920px;
            max-width: none !important;
        }

        .container {
            width: 1300px;
            max-width: none !important;
        }


        .label-c-btn {
            background-color: lightgray;
        }

        .btn-success {
            background-color: #3CB371;
        }

        .div-c-seatInfo1 {
            background-color: #3CB371;
            width: 20px;
        }

        .div-c-seatInfo2 {
            background-color: #81CEA3;
            width: 20px;
        }

        .div-c-seatInfo3 {
            background-color: dimgray;
            width: 20px;
        }

        #btn-i-hidden-next {
            display: none;
        }
    </style>
</head>
<body>
<!-- 헤더부분 -->
<header th:replace="fragments/header :: headerFragment"></header>

<!-- 메인부분 -->
<main class="container">
    <div class="col-10 mx-auto mt-5 border" style="background-color: #f2f0e5">
        <div class="bg-dark text-light text-center m-0 mx-auto">
            <input type="hidden" id="inpupt-i-docid" th:value="${selectMoviePoster.posters}" readonly>
            <p class="m-0">인원/좌석</p>
        </div>
        <div class="row mx-1">
            <div class="col-6 border-end">

<!--                성인 관람 인원 선택 부분 -->
                <div class="my-1 mt-3">
                    <p class="m-0">일반 : 10,000원(1인)</p>
                    <div class="row text-center">
                        <div class="col-sm-1 me-1" th:each="item, i : ${people}">
                            <input type="radio" class="btn-check" name="inputAdt" th:id="'input-i-adt' + ${item}" th:if="${i.index} == 0" th:value="${item}" checked>
                            <input type="radio" class="btn-check" name="inputAdt" th:id="'input-i-adt' + ${item}" th:unless="${i.index} == 0" th:value="${item}">
                            <label class="btn btn-outline-secondary label-c-btn" th:for="'input-i-adt' + ${item}" th:text="${item}"></label>
                        </div>
                    </div>
                </div>

<!--                청소년 관람 인원 선택 부분-->
                <div class="mt-2">
                    <p class="m-0">청소년 : 5,000원(1인)</p>
                    <div class="row text-center">
                        <div class="col-sm-1 me-1" th:each="item, i : ${people}">
                            <input type="radio" class="btn-check" name="inputTeen" th:id="'input-i-teen' + ${item}" th:if="${i.index} == 0" th:value="${item}" checked>
                            <input type="radio" class="btn-check" name="inputTeen" th:id="'input-i-teen' + ${item}" th:unless="${i.index} == 0" th:value="${item}">
                            <label class="btn btn-outline-secondary label-c-btn" th:for="'input-i-teen' + ${item}" th:text="${item}"></label>
                        </div>
                    </div>
                </div>
            </div>

<!--            내가 선택한 티켓 정보 출력 부분 -->
            <div class="col-6">
                <div class="my-1 mt-3">
                    <div class="row form-floating">
                        <div class="col-3">
                            <label for="input-i-title">영화제목 &nbsp;  : </label>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control-plaintext py-0" id="input-i-title" th:value="${screenData.movieTitle}" readonly>
                        </div>
                    </div>
                    <div class="row form-floating">
                        <div class="col-3">
                            <label for="input-i-cinema">상영관 &nbsp;  : </label>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control-plaintext py-0" id="input-i-cinema"th:value="${screenData.cinemaName} + ' ' + ${screenData.screenHallName}" readonly>
                        </div>
                    </div>
                    <div class="row form-floating">
                        <div class="col-3">
                            <label for="input-i-time">상영시간 &nbsp;  : </label>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control-plaintext py-0" id="input-i-time" th:value="${screenDate} + ${viewTime}" readonly>
                        </div>
                    </div>
                    <div class="row form-floating">
                        <div class="col-3">
                            <label for="input-i-seatCode">좌석 &nbsp;  : </label>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control-plaintext py-0" id="input-i-seatCode" readonly>
                        </div>
                    </div>
                    <div class="row form-floating">
                        <div class="col-3">
                            <label for="input-i-adtPrice">일반 &nbsp;  : </label>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control-plaintext py-0" id="input-i-adtPrice" readonly>
                        </div>
                    </div>
                    <div class="row form-floating">
                        <div class="col-3">
                            <label for="input-i-teenPrice">청소년 &nbsp;  : </label>
                        </div>
                        <div class="col-2 border-end">
                            <input type="text" class="form-control-plaintext py-0" id="input-i-teenPrice" readonly>
                        </div>
                        <div class="col-1 pe-0">
                            <label for="input-i-totalPrice">총 &nbsp;: </label>
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control-plaintext py-0" id="input-i-totalPrice" readonly>
                        </div>
                    </div>
                </div>
                <div class="text-end">
                    <button class="btn text-light mb-2" id="btn-i-payment" style="background-color: #FF4500">결제하기</button>
                </div>
            </div>
        </div>

<!--        좌석 선택 부분-->
        <div class="border-top">
            <div class="bg-secondary text-light mx-auto mt-5 col-7">
                <p class="text-center">SCREEN</p>
            </div>
            <div class="text-center w-75 mx-auto my-2">
<!--                타임리프 반복문으로 좌석 코드 알파벳 부분 불러옴 (좌석 번호 부분도 코드 생략 가능한지 더 고민해봐야 함)-->
                <div class="row" th:each="item, i : ${alp}">
                    <div class="col-1 border-end mb-2">
                        <button class="btn disabled border-0" th:text="${i.current}"></button>
                    </div>
                    <div class="col-11 row mb-2">
                        <div class="col-3 p-0 div-c-seat ms-2">
                            <input type="checkbox" class="btn-check" th:id="'input-i-' + ${item} + '1'" th:value="${item} + '1'">
                            <label class="btn btn-success" th:for="'input-i-' + ${item} + '1'">1</label>
                            <input type="checkbox" class="btn-check" th:id="'input-i-' + ${item} + '2'" th:value="${item} + '2'">
                            <label class="btn btn-success" th:for="'input-i-' + ${item} + '2'">2</label>
                            <input type="checkbox" class="btn-check" th:id="'input-i-' + ${item} + '3'" th:value="${item} + '3'">
                            <label class="btn btn-success" th:for="'input-i-' + ${item} + '3'">3</label>
                        </div>

                        <div class="col-5 p-0 div-c-seat">
                            <input type="checkbox" class="btn-check" th:id="'input-i-' + ${item} + '4'" th:value="${item} + '4'" disabled>
                            <label class="btn btn-success" th:for="'input-i-' + ${item} + '4'">4</label>
                            <input type="checkbox" class="btn-check" th:id="'input-i-' + ${item} + '5'" th:value="${item} + '5'">
                            <label class="btn btn-success" th:for="'input-i-' + ${item} + '5'">5</label>
                            <input type="checkbox" class="btn-check" th:id="'input-i-' + ${item} + '6'" th:value="${item} + '6'">
                            <label class="btn btn-success" th:for="'input-i-' + ${item} + '6'">6</label>
                            <input type="checkbox" class="btn-check" th:id="'input-i-' + ${item} + '7'" th:value="${item} + '7'">
                            <label class="btn btn-success" th:for="'input-i-' + ${item} + '7'">7</label>
                            <input type="checkbox" class="btn-check" th:id="'input-i-' + ${item} + '8'" th:value="${item} + '8'">
                            <label class="btn btn-success" th:for="'input-i-' + ${item} + '8'">8</label>
                            <input type="checkbox" class="btn-check" th:id="'input-i-' + ${item} + '9'" th:value="${item} + '9'">
                            <label class="btn btn-success" th:for="'input-i-' + ${item} + '9'">9</label>
                        </div>

                        <div class="col-3 p-0 div-c-seat">

                            <input type="checkbox" class="btn-check" th:id="'input-i-' + ${item} + '10'" th:value="${item} + '10'">
                            <label class="ps-2 btn btn-success" th:for="'input-i-' + ${item} + '10'" style="width: 35.8px"><p class="m-0">10</p></label>
                            <input type="checkbox" class="btn-check" th:id="'input-i-' + ${item} + '11'" th:value="${item} + '11'">
                            <label class="ps-2 btn btn-success" th:for="'input-i-' + ${item} + '11'" style="width: 35.8px"><p class="m-0">11</p></label>
                            <input type="checkbox" class="btn-check" th:id="'input-i-' + ${item} + '12'" th:value="${item} + '12'" disabled>
                            <label class="ps-2 btn btn-dark" th:for="'input-i-' + ${item} + '12'" style="width: 35.8px"><p class="m-0">12</p></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-3">
            <div class="row mx-auto w-50 border border-2">
                <div class="row col-4 ms-1 my-1">
                    <div class="col-6 div-c-seatInfo1 me-1"></div>
                    <p class="col-6 m-0 p-0">일반석</p>
                </div>
                <div class="row col-4 ms-1 my-1">
                    <div class="col-6 div-c-seatInfo2 me-1"></div>
                    <p class="col-6 m-0 p-0">예매석</p>
                </div>
                <div class="row col-4 ms-1 my-1">
                    <div class="col-6 div-c-seatInfo3 me-1"></div>
                    <p class="col-6 m-0 p-0">미판매석</p>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- 푸터부분 -->
<footer th:replace="fragments/footer :: footerFragment"></footer>
</body>
</html>