<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
    <script src="/js/event.js"></script>

    <th:block th:replace="/fragments/config :: configFragment"></th:block>

    <script>
        // 비밀번호 & 비밀번호 확인란에 포커스 아웃되면 암호 일치한지 확인
        function equalPassword() {
            const passwordCheckResult = $("#small-i-password-check-result");
            const password = $("#input-i-password");
            const passwordCheck = $("#input-i-password-check");
            const secureNum = $('#input-i-SecureNum');

            if (password.val() == "") {
                runUserCheckFailAnimate(passwordCheckResult, "비밀번호는 공백이 불가능합니다!");
            } else if (password.val() != passwordCheck.val()) {
                runUserCheckFailAnimate(passwordCheckResult, "비밀번호가 일치하지않습니다!");
            } else {
                runUserCheckSuccessEffect(passwordCheckResult, "비밀번호가 일치합니다.");
            }
        }
        $(document).ready(function() {
            // 비밀번호 / 비밀번호 확인 결과에 따라 메세지 출력
            const password = $("#input-i-password");
            const passwordCheck = $("#input-i-password-check");
            var timer;

            password.on("focusout", function () {
                equalPassword();
            });
            passwordCheck.on("focusout", function () {
                equalPassword();
            });

            // 뒤로가기 이벤트
            $('#button-i-back').on('click', function() {
                history.back();
            });

            // 메일 전송 버튼 이벤트
            $('#button-i-sendSecureNum').on('click', function() {
                const id = $('#input-i-id').val();
                const email = $('#input-i-email').val();

                //아이디 비밀번호 미입력시 문구 출력
                if(id == '' || email == '') {
                    runUserCheckFailAnimate($("#small-i-password-check-result"), "아이디와 이메일을 모두 입력해주세요");
                    $('.div-c-clickEventView').last().css('display', 'block');
                }
                else {
                    runUserCheckFailAnimate($("#small-i-password-check-result"), "");
                    $('.div-c-clickEventView').last().css('display', 'none');
                    // 아이디 이메일 일치할 경우 메일 전송
                    // 정상적으로 전송할 경우 버튼 변경, 비밀번호 입력창 추가
                    $.ajax({
                        url: "/chkJoinInfo",
                        type: "post",
                        data: {id: id, email: email},
                        success: function (data){
                            if(data == 1) {
                                // 숨겨진 태그 출력
                                $('.div-c-clickEventView').css('display', 'block');
                                $('.label-c-clickEventView').css('display', 'block');
                                $('#button-i-sendSecureNum').css('display', 'none');
                                $('#button-i-pwdUpdate').css('display', 'inline');
                                $('.h3-c-countDown').css('display', 'block');
                                $('.button-c-countDown').css('display', 'block');

                                let minute = 2;
                                let second = 60;

                                // 타이머 세팅
                                timer = setInterval(function() {
                                    if(second == 0 && minute == 0){
                                        $('.h3-c-countDown').text('인증번호 만료!');
                                        clearInterval(timer); /* 타이머 종료 */
                                    }else {
                                        second--;
                                        $('.h3-c-countDown').text(minute + ':' + second);
                                        if (second < 10) {
                                            $('.h3-c-countDown').text(minute + ':0' + second);
                                        }
                                        if (second == 0) {
                                            if(minute > 0) {
                                                minute--;
                                                second = 60;
                                            }
                                        }
                                        if (minute == 0) {
                                            $('.h3-c-countDown').css('color', 'red');
                                        }
                                    }
                                }, 1000);
                            }
                        },
                        error: function (){
                            alert("메일 송신 오류! 아이디 이메일을 확인하세요");
                        }
                    });
                }
            });

            // 재전송 버튼 클릭 시 메일 재전송 / 시간 초기화
            $('#button-i-resend').on('click', function () {
                // 기존 타이머 종료
                clearInterval(timer);
                $('.h3-c-countDown').css('color', 'black');

                const id = $('#input-i-id').val();
                const email = $('#input-i-email').val();

                //아이디 비밀번호 미입력시 문구 출력
                if(id == '' || email == '') {
                    runUserCheckFailAnimate($("#small-i-password-check-result"), "아이디와 이메일을 모두 입력해주세요");
                    $('.div-c-clickEventView').last().css('display', 'block');
                }
                else {
                    runUserCheckFailAnimate($("#small-i-password-check-result"), "");
                    $('.div-c-clickEventView').last().css('display', 'none');
                    // 아이디 이메일 일치할 경우 메일 전송
                    // 정상적으로 전송할 경우 버튼 변경, 비밀번호 입력창 추가
                    $.ajax({
                        url: "/chkJoinInfo",
                        type: "post",
                        data: {id: id, email: email},
                        success: function (data){
                            if(data == 1) {
                                let minute = 2;
                                let second = 60;
                                // 새 타이머 동작
                                timer = setInterval(function() {
                                    if(second == 0 && minute == 0){
                                        $('.h3-c-countDown').text('인증번호 만료!');
                                        clearInterval(timer); /* 타이머 종료 */
                                    }else {
                                        second--;
                                        $('.h3-c-countDown').text(minute + ':' + second);
                                        if (second < 10) {
                                            $('.h3-c-countDown').text(minute + ':0' + second);
                                        }
                                        if (second == 0) {
                                            if(minute > 0) {
                                                minute--;
                                                second = 60;
                                            }
                                        }
                                        if (minute == 0) {
                                            $('.h3-c-countDown').css('color', 'red');
                                        }
                                    }
                                }, 1000);
                            }
                        },
                        error: function (){
                            alert("메일 송신 오류! 아이디 이메일을 확인하세요");
                        }
                    });
                }
            });


            $('#button-i-pwdUpdate').on('click', function() {
                const id = $('#input-i-id').val();
                const pwd = password.val();
                const secureNum = $('#input-i-SecureNum').val();
                if (password.val() == '' && passwordCheck.val() == '') {
                    alert('비밀번호를 입력해주세요');
                }

                if(password.val() == passwordCheck.val() && password.val() != '' && passwordCheck.val() != '') {
                    $.ajax({
                        url: "/checkSession",
                        type: "post",
                        data: {id: id, secureNum: secureNum},
                        success:function (data) {
                            if(data == "OK") {
                                $('#form-i-frm')[0].action = '/pwdUpdateOk';
                                $('#form-i-frm')[0].method = 'POST';
                                $('#form-i-frm')[0].submit();
                                $.ajax({
                                    url: '/pwdUpdateOk',
                                    type: 'post',
                                    data: {id: id, pwd: pwd, secureNum: secureNum},
                                    success: function (data) {
                                    },
                                    error: function () {

                                    }
                                });
                            }
                            else {
                                alert('인증번호가 틀렸습니다.');
                            }
                        },
                        error:function () {
                            alert('세션 통신 에러')
                        }
                    });
                }
            });


        });
    </script>

    <style>
        main.container {
            width: 1300px;
            margin-top: 140px;
            margin-bottom: 165px;
            max-width: none !important;
        }

        #form-i-frm {
            border: #FF4500 3px solid;
            width: 600px;
        }

        #button-i-modal {
            display: none;
        }

        #button-i-pwdUpdate, .div-c-clickEventView, .label-c-clickEventView, .button-c-countDown, .h3-c-countDown{
            display: none;
        }

        #button-i-resend {
            margin-left: 40px;
        }
    </style>

</head>
<body>
<header th:replace="fragments/header :: headerFragment"></header>

<main class="container">
    <div class="row py-5">
        <form id="form-i-frm" class="col-sm-9 mx-auto rounded-4">
            <h3 class="text-center mt-3 mb-4 fs-4">아이디와 회원가입 시 입력한 이메일을 입력하세요</h3>
            <div class="row mt-3 text-center">
                <label for="input-i-id" class="col-3 text-end pt-2 pe-2">아이디</label>
                <div class="col-7">
                    <input type="text" class="form-control" id="input-i-id" name="id" placeholder="아이디를 입력하세요">
                </div>
            </div>
            <div class="row mt-3">
                <label for="input-i-email" class="col-3 text-end pt-2 pe-2">이메일</label>
                <div class="col-7">
                    <input type="text" class="form-control" id="input-i-email" name="email" placeholder="이메일을 입력하세요">
                </div>
            </div>
            <div class="row mt-3">
                <label class="label-c-clickEventView col-3 text-end pt-2 pe-2">비밀번호</label>
                <div class="div-c-clickEventView col-7">
                    <input id="input-i-password" type="password" class="form-control" name="pwd" maxlength="15">
                </div>
            </div>
            <div class="row mt-3">
                <label class="label-c-clickEventView col-3 text-end pt-2 pe-2">비밀번호 확인</label>
                <div class="div-c-clickEventView col-7">
                    <input id="input-i-password-check" type="password" class="form-control" maxlength="15">
                </div>
            </div>
            <div class="row mt-3">
                <label class="label-c-clickEventView col-3 text-end pt-2 pe-2">인증번호</label>
                <div class="div-c-clickEventView col-7">
                    <input type="text" class="form-control" id="input-i-SecureNum" name="secureNum" placeholder="인증번호를 입력하세요">
                </div>
            </div>
            <div class="text-center div-c-clickEventView">
                <small id="small-i-password-check-result"></small>
            </div>
            <div class="row mt-3">
                <h3 class="h3-c-countDown col-6 text-end" id="">3:00</h3>
                <button type="button" class="button-c-countDown col-3 btn btn-outline-warning" id="button-i-resend">인증번호 재전송</button>
            </div>
            <div class="text-end col-10">
                <button type="button" class="my-3 btn btn-outline-primary" id="button-i-sendSecureNum">인증번호 전송</button>
                <button type="button" class="my-3 btn btn-outline-primary" id="button-i-pwdUpdate">변경</button>
                <button type="reset" class="my-3 btn btn-outline-dark" id="button-i-back">뒤로</button>
            </div>
            <!--        전송 방식 변경을 위한 숨겨진 input 태그-->
            <input type="hidden" id="input-i-method" name="_method">
            <button type="button" id="button-i-modal" data-bs-toggle="modal" data-bs-target="#div-i-error"></button>
        </form>
    </div>
</main>

<footer th:replace="fragments/footer :: footerFragment"></footer>
<div th:replace="fragments/modal_error :: modalError('가입시 입력한 아이디와 이메일이 일치하지 않습니다.')"></div>
</body>
</html>