<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 재설정</title>
    <script src="/js/event.js"></script>

    <th:block th:replace="/fragments/config :: configFragment"></th:block>

    <script>
        // 비밀번호 & 비밀번호 확인란에 포커스 아웃되면 암호 일치한지 확인
        function equalPassword() {
            const passwordCheckResult = $("#small-i-password-check-result");
            const password = $("#input-i-password");
            const passwordCheck = $("#input-i-password-check");

            if (password.val() == "") {
                runUserCheckFailAnimate(passwordCheckResult, "비밀번호는 공백이 불가능합니다!");
            } else if (password.val() != passwordCheck.val()) {
                runUserCheckFailAnimate(passwordCheckResult, "비밀번호가 일치하지않습니다!");
            } else {
                runUserCheckSuccessEffect(passwordCheckResult, "비밀번호가 일치합니다.");
            }
        }

        $(document).ready(function() {
            const password = $("#input-i-password");
            const passwordCheck = $("#input-i-password-check");


            password.on("focusout", function () {
                equalPassword();
            });
            passwordCheck.on("focusout", function () {
                equalPassword();
            });

            $('#button-i-updatePwd').on('click', function() {
                console.log(passwordCheck.val())
                console.log(password.val())
                if(password.val() == passwordCheck.val()) {
                    $('#form-i-frm')[0].action = "/pwdUpdateOk";
                    $('#form-i-frm')[0].method = "PUT";
                    $('#form-i-frm')[0].submit();
                }
            });
        });
        console.log($('#input-i-id').val())
    </script>

    <style>
        .container {
            width: 1200px;
            max-width: none !important;
            margin-top: 180px;
            margin-bottom: 310px;
        }

        #form-i-frm {
            border: #FF4500 3px solid;
        }
    </style>

</head>
<body>
<header th:replace="fragments/header :: headerFragment"></header>

<main class="container">
    <div class="row">
        <form id="form-i-frm" class="col-sm-6 mx-auto rounded-4">
            <div class="my-3">
                <label class="mb-1">비밀번호</label>
                <input id="input-i-password" type="password" class="form-control" name="pwd" maxlength="15">
            </div>
            <div class="mb-3">
                <div class="d-flex justify-content-between">
                    <label class="mb-1">비밀번호 확인</label>
                    <small id="small-i-password-check-result"></small>
                </div>
                <input id="input-i-password-check" type="password" class="form-control" maxlength="15">
            </div>
            <div class="mb-3 text-center">
                <input type="hidden" id="input-i-method" name="_method">
                <input type="hidden" id="input-i-id" name="id" th:value="${info.id}">
                <button class="btn btn-outline-primary" type="button" id="button-i-updatePwd">비밀번호 변경</button>
            </div>
        </form>
    </div>
</main>

<footer th:replace="fragments/footer :: footerFragment"></footer>
</body>
</html>